:root {
  --body-background: #c5e4e7;
  --input-background: #f3f8fb;
  --default-background: white;
  --primary-background: #00474b;
  --secondary-background: #27c2ad;
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
  font-size: 62.5%;
  font-family: sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  font-size: 1.6rem;
  flex-direction: column;
  background-color: var(--body-background);
}
body button {
  border: none;
  text-align: center;
  border-radius: 1rem;
}
body input::-webkit-outer-spin-button,
body input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body input[type=number] {
  -moz-appearance: textfield;
}
body .title {
  word-break: break-all;
  letter-spacing: 0.5rem;
  width: 11rem;
  text-align: center;
  font-weight: bold;
}
body .container {
  display: flex;
  width: 60%;
  min-width: 80rem;
  height: 50rem;
  background-color: var(--default-background);
  padding: 3rem;
  border-radius: 1rem;
}
body .container .result-container, body .container .calc-container {
  padding: 2rem;
  border-radius: inherit;
  height: 100%;
  width: 50%;
}
body .container .calc-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
body .container .calc-container input {
  display: block;
  width: 100%;
}
body .container .calc-container div {
  position: relative;
}
body .container .calc-container div p:first-child, body .container .calc-container div label:first-child {
  margin-bottom: 1rem;
}
body .container .calc-container div label:first-child {
  display: block;
}
body .container .calc-container div #bill, body .container .calc-container div #num-people, body .container .calc-container div #custom-tip {
  display: block;
  text-align: right;
  padding: 0 1rem;
  font-size: 1.8rem;
  height: 100%;
  background-color: var(--input-background);
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 1rem;
}
body .container .calc-container div #bill:focus, body .container .calc-container div #num-people:focus, body .container .calc-container div #custom-tip:focus {
  outline: 2px solid #7ed7ca;
}
body .container .calc-container div #custom-tip {
  text-align: center;
}
body .container .calc-container div #num-people:invalid {
  border: none;
  outline: 1px solid red;
}
body .container .calc-container div #dollar, body .container .calc-container div #people {
  position: absolute;
  margin-top: 1.5rem;
  margin-left: 1.5rem;
}
body .container .calc-container .select-tip {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
}
body .container .calc-container button {
  padding: 1rem 2rem;
  text-align: center;
  background-color: #00474b;
  color: white;
  font-size: 1.8rem;
}
body .container .calc-container button.active {
  background-color: var(--secondary-background);
  color: black;
}
body .container .calc-container .error-p {
  position: absolute;
  right: 0;
  top: 0;
  color: red;
  display: none;
}
body .container .calc-container .error-p.active {
  display: initial;
}
body .container .result-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-background);
}
body .container .result-container div {
  width: 100%;
}
body .container .result-container div #tip, body .container .result-container div #total {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 2rem;
}
body .container .result-container div #tip p:first-child, body .container .result-container div #total p:first-child {
  color: white;
  font-size: 2rem;
}
body .container .result-container div #tip p:last-child, body .container .result-container div #total p:last-child {
  color: #c5e4e7;
  font-size: 1.7rem;
}
body .container .result-container div #tip #tip-pp, body .container .result-container div #tip #total-pp, body .container .result-container div #total #tip-pp, body .container .result-container div #total #total-pp {
  font-size: 3rem;
  color: var(--secondary-background);
}
body .container .result-container button {
  width: 90%;
  background-color: #27c2ad;
  height: 4rem;
  font-size: 1.8rem;
}
body .container .result-container button:disabled {
  background-color: #0d686d;
}

@media screen and (max-width: 900px) {
  body h1 {
    margin: 3rem 0;
  }
  body .container {
    flex-direction: column;
    flex: 1;
    min-width: 100%;
    padding: 2rem;
  }
  body .container .calc-container, body .container .result-container {
    width: 100%;
  }
  body .container .calc-container {
    flex: 1;
    padding: 0;
  }
  body .container .calc-container div #bill, body .container .calc-container div #num-people {
    height: 4rem;
  }
  body .container .calc-container div #dollar, body .container .calc-container div #person {
    margin-top: 1.2rem;
  }
  body .container .calc-container .select-tip {
    grid-template-columns: repeat(2, 1fr);
  }
  body .container .result-container {
    padding: 3rem;
    flex: 1 1 10rem;
  }
}

/*# sourceMappingURL=index.css.map */
